footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 55vh;
    background: var(--primary-color);
    color: black;
}

.footer-content > nav ul li {
     
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 200ms;
    padding-bottom: 5px;
}

.footer-content > nav ul li a img {
     
    border-right: black solid 2px;
    padding-right: 5px;
}

.footer-content > nav ul a:hover {
    color: white;
}

.footer-content {
    display: flex;
    gap: 175px;
}

.left-side, .right-side {
    display: flex;
    flex-direction: column;
}

.right-side {
    align-items: center;
    justify-content: center;
}

.bottom-bar {
    color: white;
    margin-top: 70px;
    padding: 15px 0;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--secondary-color);
}

/*

#whatsapp::before, #phone::before, #address::before {
    content: '';
    display: inline-flex;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    top:0px;
    left:0px;
}
*/


/*#whatsapp::before {
    background: url('./../icons/whatsapp-light.svg') no-repeat center center/cover;
}
#phone::before {
    background: url('./../icons/call-light.svg') no-repeat center center/cover;
}
#address::before {
    background: url('/../icons/pin.svg') no-repeat center center/cover;
}*/