header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
}

header h1 {
    cursor: pointer;
}

header > img {
    width: 80px;
    float: left;
    position: relative;
    display: flex;
}

nav ul { margin: 0; padding: 0; }

nav ul li {
    font-size: 0.9rem;
    display: inline-block;
    margin: 0 10px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 200ms;
}

nav ul li:hover {
    color: var(--primary-color);
}

.social-media {
    display: flex;
    justify-content: space-between;
    width: 80px;
}

.social-media > img {
    cursor: pointer;
}