main > .carousel {
    display: flex;
    justify-content: center;
    background: var(--dark-color)
}

main > h2 {
    padding: 70px 0 50px 0;
    text-align: center;
}

main > .cards-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 0 30px 100px 30px;
    max-width: 1000px;
}

.card {
    overflow: hidden;
    width: 30%;
    background: white;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition-duration: 200ms;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card > .text-container {
    padding: 25px;
    line-height: 1.5;
}


.text-container > h3 {
    padding: 0 0 15px 0;
}