:root {
    font-family: Arial, Helvetica, sans-serif;
    --primary-color: #deb212;
    --dark-color: #333;
    --light-color: #fff;
    --black: #000;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
    
}