:root {
    --primary-color: #bf1e26;
    --secondary-color: #5c1214;
    --dark-color: #333;
    --light-color: #fff;
    --black: #000;
}

body {
    font-family: "Droid Serif", serif, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--black);
    
}